.create-post-container {
  padding: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.create-post-container > h1 {
  padding-bottom: 1rem;
  text-decoration: underline;
}

.post-form {
  width: 40%;
}

/* css for mobile */
@media (max-width: 480px) {
  .create-post-container {
  }
  .create-post-container .post-form label {
    font-size: 20px;
  }
}
