.homepage-title-content {
  text-align: center;
  letter-spacing: 2px;
  padding: 1rem;
  color: #3fa9cf;
}

.homepage-title-content > h1 {
  font-size: 3rem;
}

.wrist-shot-grid-container {
  margin: 50px;
}
