/* css for desktop */
.dashboard-grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  /* background-color: lightblue; */
  padding: 50px;
}

.dashboard-grid-item {
  /* background-color: blueviolet; */
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 80px;
  font-size: 30px;
  text-align: center;
}

/* css for mobile */
@media (max-width: 480px) {
  .dashboard-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
