.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.596);
}

/* styling button*/
.modal-container > button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.modal {
  position: absolute;
  background-color: white;
  top: 25px;
  left: 10%;
  right: 10%;
  padding: 15px;
  border: 1px solid black;
  box-shadow: 0 0 10px;
  height: 90vh;
}

.modal-content-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.modal-img-container {
  width: 100%;
  height: 100%;
}

.modal-title-container {
  /* code for sticky title */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  /* styling for title */
  margin: 1rem 0;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.modal-title-container > span {
  float: left;
  cursor: pointer;
}
.modal-container span:nth-child(2) {
  float: right;
}

/* styling full size link */
#full-size-link {
  border: 0.5px solid #3fa9cf;
  text-decoration: none;
  color: black;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}

#full-size-link:hover {
  background-color: #3fa9cf;
}

/* styling description */
.modal-description-container {
  padding: 10px 0;
}
.modal-description-container > h2 {
  font-size: 32px;
}
.modal-description-container > p {
  font-size: 20px;
}

/* css for mobile */
@media (max-width: 480px) {
  .modal {
    height: 80vh;
  }
  .modal-title-container {
    font-size: 20px;
  }
}
