/* css for desktop */
.wrist-shot-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* css for mobile */
@media (max-width: 480px) {
  .wrist-shot-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
